.footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 217px;
    margin-bottom: 16px;

    &-image {
      display: block;
      width: 100%;
    }
  }

  &-topRow {
    box-sizing: border-box;
    padding: 33px 0 48px;
    background-color: $footerTopRowBg;

    .container {
      @include for-tablet {
        flex-direction: column;
      }
    }

    &-left {
      box-sizing: border-box;
      width: calc(100% - 262px);
      padding-right: 26px;

      @include for-tablet {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
      max-width: 262px;

      @include for-tablet {
        display: block;
        width: 100%;
        max-width: none;
      }
    }
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;

    @include for-smallTablet {
      display: block;
    }

    &-link {
      display: block;
      line-height: $infoLineHeight;
      color: $white;
      text-decoration: underline;
    }
  }

  &-infoLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: $bigText;
    font-weight: $medium;
    line-height: $infoLineHeight;
    text-decoration: none;
    color: $white;

    &-img {
      display: block;
      width: 18px;
      margin-right: 9px;
    }

    & + & {
      margin-top: 7px;
      font-size: $smallText;

      .footer-infoLink-img {
        width: 20px;
        margin-right: 7px;
      }
    }
  }

  &-middleRow {
    padding: 34px 0 40px;
    background-color: $footerMiddleRowBg;

    .container {
      align-items: flex-start;

      @include for-phone {
        flex-direction: column;
      }
    }

    &-left {
      box-sizing: border-box;
      width: calc(100% - 322px);
      padding-right: 64px;

      @include for-phone {
        width: 100%;
        padding-right: 0;
        margin-top: 20px;
        order: 1;
      }

      p:not(:first-child) {
        display: block;
        margin-top: 18px;
        font-size: $extraSmallText;
        line-height: $extraSmallHeight;
      }
    }

    &-right {
      width: 322px;

      @include for-phone {
        width: 100%;
      }
    }
  }

  &-middleMenu {
    &-item {
    }

    &-link {
      display: block;
      font-size: $extraSmallText;
      line-height: $middleMenuHeight;
      color: $dark;
    }
  }

  &-pays {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;

    @include for-phone {
      display: block;
    }

    &-item {
      display: block;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      @include for-phone {
        width: 100%;
        margin-right: 0;
        margin-top: 20px;
      }
    }

    &-link {
      display: block;

      img {
        display: block;
      }
    }
  }

  &-bottomRow {
    box-sizing: border-box;
    padding: 48px 0 72px;
    background-color: $footerBottomRowBg;

    .container {
      display: block;
    }

    p {
      display: block;
      font-size: $extraSmallText;
      line-height: $paragrafFooterHeight;
      font-weight: $regular;

      a {
        font-weight: $medium;
        color: $dark;
      }
    }

    p + p {
      margin-top: 34px;
    }
  }
}
