* {
  outline: none;
}

ul {
  list-style: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: $normalText;
  font-weight: $regular;
  color: $dark;
  background-color: $white;
}

.container {
  position: relative;
  width: 98%;
  max-width: 1120px;
  margin: 0 auto;
}

.btn {
  &:hover {
    opacity: 0.7;
  }
}

.pageTitle {
  display: block;
  font-size: $pageTitleText;
  line-height: $infoLineHeight;
  font-weight: $medium;
}

.sectionTitle {
  display: block;
  font-size: $sectionTittleText;
  line-height: $infoLineHeight;
  font-weight: $medium;
}

.nowrap {
  white-space: nowrap;
}

.ui-widget.ui-widget-content {
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: $sliderColor;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
  top: -13px;
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  border-radius: 50%;
  background-color: $btnBlue;
  border: 4px solid $white;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.31);
  cursor: pointer;
}
