// ВЕС
$regular: 400;
$medium: 500;

// РАЗМЕР ТЕКСТА
$extraSmallText: 14px;
$smallText: 15px;
$normalText: 16px;
$bigText: 22px;

// ВЫСОТА ТЕКСТА
$extraSmallHeight: 22px;
$infoLineHeight: 28px;
$middleMenuHeight: 32px;
$paragrafFooterHeight: 24px;

// ЦВЕТА
$white: #fff;
$dark: #393e3f;
$borderGray: #e6e6e6;
$btnBlue: #5c92e5;
$footerTopRowBg: #4b65b8;
$footerMiddleRowBg: #d6dcef;
$footerBottomRowBg: #c8cee0;
