// ВЕС
$regular: 400;
$medium: 500;
$bold: 600;
$black: 900;

// РАЗМЕР ТЕКСТА
$extraSmallText2: 12px;
$extraSmallText: 14px;
$smallText: 15px;
$normalText: 16px;
$normalTextBac: 18px;
$bigBtn: 20px;
$bigText: 22px;
$sliderText: 24px;
$infoText: 28px;
$sectionTittleText: 40px;
$pageTitleText: 48px;
$intText: 80px;

// ВЫСОТА ТЕКСТА
$orderLink: 20px;
$extraSmallHeight: 22px;
$infoLineHeight: 28px;
$middleMenuHeight: 32px;
$paragrafFooterHeight: 24px;
$bannerIconHeight: 26px;
$bigLineHeight: 48px;

// ЦВЕТА
$white: #fff;
$noWhite: #f5f9ff;
$dark: #393e3f;
$borderGray: #e6e6e6;
$btnBlue: #5c92e5;
$footerTopRowBg: #4b65b8;
$footerMiddleRowBg: #d6dcef;
$footerBottomRowBg: #c8cee0;
$borderGray2: #d9d9d9;
$borderGray3: #acb6b9;
$sliderColor: #dee5ee;
$grayText: #5b6269;
$purpul: #9f7be8;
$int: #87c6ed;
$howWorksBg: #eff7ff;
$howWorksTitle: #505455;
$faqbg: #eff7ff;
$orderLabGray: #88919a;
$green: #3aa58d;
